.noscript {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  color: #8e1f1f;
  background-color: #efafaf;
  text-align: center;
  z-index: 77777;
}

.noscript a {
  margin-left: 3px;
  margin-right: 3px;
  color: #630303;
  text-decoration: underline;

  @media (any-hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}